body { background: #cc6cf3; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 17px; display: flex; }
.block-cluster-0 { color: #5e990d; font-size: 21px; margin-bottom: 5px; }
.block-sms-1 { color: #a7924c; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #819a48; font-size: 21px; margin-bottom: 5px; }
.block-order-3 { color: #1560f; font-size: 15px; margin-bottom: 5px; }
.block-shipping-4 { color: #d44d46; font-size: 20px; margin-bottom: 5px; }